.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
}

.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .responsive-image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
